.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
.img7 { grid-area: img7; }
.img8 { grid-area: img8; }
.img9 { grid-area: img9; }
.img10 { grid-area: img10; }
.img11 { grid-area: img11; }
.empty1 { grid-area: empty1; }
.empty2 { grid-area: empty2; }
.photo { grid-area: photo; }

.gallery-section-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
  'img1 img1 photo photo'
  'img1 img1 img2 img3'
  'img4 img4 img5 img6'
  'img4 img4 img7 img8'
  'img9 img10 img11 img11'
  'empty1 empty2 img11 img11';
  gap: 2rem;
}

@media only screen and (max-width: 1200px) {
  .gallery-section-grid {
    gap: 1rem;
  }
}

@media only screen and (max-width: 991px) {
  .gallery-section-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
    'photo photo'
    'img1 img1'
    'img2 img3'
    'img5 img6'
    'img4 img4'
    'img7 img8'
    'img9 img10'
    'img11 img11';
  }
}