@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent-gold: #c2a75a;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0b10;
  color: #e5e7eb;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 25px;
}

.text-secondary {
  color: hsla(0, 0%, 100%, 0.7) !important;
}

img::selection {
  background: transparent;
}

@media only screen and (min-width: 768px) {
  .web {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

.app-hero {
  background-image: url('./assets/images/hero-img.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}
